body{
    background-color:gold;
} 

h1{
    color: bisque;
    background-color: rgb(155, 101, 16);
}

#show_sketch{
    float: right;
}

canvas{
    border:5px solid whitesmoke;
    border-radius: 20px;
    animation-name: fade;
    animation-duration: 4s;
    margin-left: 50px;
    animation-iteration-count: infinite;
} 

@keyframes fade{
    from{box-shadow:1px 1px 38px crimson;}
    to{box-shadow:1px 1px 38px coral;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}